.container-about {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #F3F7F9;
    margin-bottom: 30px; // Needs to matching padding in .footer-container-wrapper in /footer.scss
}

.wrapper-about {
    display: flex;
    flex-direction: row;
    padding: 5%;
  }
  
  @media (max-width: 1000px) {
    .wrapper-about {
      flex-direction: column;
    }
  }
  
  .container-about-picture {
    display: flex;
    width: 30%;
    align-items: center;
    padding: 1%;
  }
  
  @media (max-width: 1000px) {
    .container-about-picture {
      width: 100%;
    }
  }
  
  .container-about-content {
    width: 70%;
    
  }
  
  @media (max-width: 1000px) {
    .container-about-content {
      width: 100%;
    }
  }
  
  #about-picture {
    max-width: 100%;
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 3.5px;
    border-color: black;
    border-radius: 50%;
  }
  
//   @media (min-width: 1025px) and (max-width: 1280px) {
//     #about-picture {
//       padding-left: 0;
//       margin-bottom: 3%;
//       max-width: 27%;
//       margin-left: 0%;
//     }
//   }
  
//   @media (min-width: 801px) and (max-width: 1024px) {
//     #about-picture {
//       padding-left: 0;
//       margin-bottom: 3%;
//       max-width: 37%;
//       margin-left: 0%;
//     }
//   }
  
//   @media (max-width: 800px) {
//     #about-picture {
//       padding-left: 0;
//       margin-bottom: 4%;
//       max-width: 45%;
//       margin-left: 0%;
//     }
//   }
  
  .about-content {
    text-align: left;
    margin: 0 auto;
    padding-top: 10px;
    // border: 3px solid black;
    // box-shadow: 10px 7.5px 5px black;
    // background: #f8f8f8;
    margin: 0 auto;
    width: 90%;
    padding: 2%;
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .about-content {
      padding: 4%;
    }
  }
  
  @media (max-width: 768px) {
    .about-content {
      width: 90%;
    }
  }
  
  .text-blurbs-content-about {
    text-align: left;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .text-blurbs-content-about {
      text-align: center;
    }
  }
  