@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body{
  text-align: center;
  background: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px; // 40px footer, 10px, bottom gradient line
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.gradient-container-top{
  top: 70px;
  position: fixed;
  width: 100%;
  height: 10px;
  text-align: center;
  background: linear-gradient(to top, transparent 0%, rgb(126, 126, 126) 100%);
}

.nav-item {
  display: inline;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
}

#navbar-logo {
  padding-left: 10px;
}

#navbar-logo-img{
  max-width: 30%; 
  height: 50px;
  width: auto;
}

@media (min-width: 768px) and (max-width: 1024px){
  #navbar-logo-img{
    max-width: 100%;
  }
}

#navbar-logo-wordmark{
  max-width: 90%; 
  height: 17.5px;
  width: auto;
  margin-top: 17.5px;
  margin-left: 7px; 
}

@media (min-width: 768px) and (max-width: 960px){
  #navbar-logo-wordmark{
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 320px) {
  #navbar-logo-wordmark{
    display: none;
    visibility: hidden;
  }
}

.nav-item > a, a:focus {
  text-decoration: none;
  color: black;
}

.nav-item > a:hover {
  text-decoration: none;
  color: #105577;
  box-shadow: 3px 3px 10px black;
  background: #F8F8F8;
  padding: 5px;
}

#container-navbar {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
  border-bottom: 1px solid black;
}

@media (min-width: 961px) and (max-width: 1024px){
  #container-navbar{
    font-size: 19px;
  }
}

@media (min-width: 769px) and (max-width: 960px){
  #container-navbar{
    font-size: 15px;
    font-weight: bold;
  }
}

@media (max-width: 768px){
  #navbar-list{
   padding-top: 15px;
  }
}

.topic-header{
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F8F8F8;;
  text-decoration: underline;
}

.text-blurbs{
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
}

.text-blurbs-content-home {
  font-size: 19px;
}

#homepage-image{
  max-width: 80%;
  height: auto;
  width: auto;
  border-style: solid;
  border-width: 4px;
  border-color: black;
}

@media (max-width: 1024px){
  #homepage-image{
    max-width: 100%;
  }
}

#homepage-logo-img{
  max-width: 50%;
  height: auto;
  width: auto;
}

@media (min-width: 481px) and (max-width: 1024px){
  #homepage-logo-img{
    max-width: 75%;
  }
}

@media (max-width: 480px){
  #homepage-logo-img{
    max-width: 90%;
  }
}

.container-flex-about{
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 1280px){
  .container-flex-about{
  flex-direction: column;
  }
}

.container-flex-about-left{
  width: 15%;
}

@media (max-width: 1280px){
  .container-flex-about-left{
  width: 100%;
  }
}

.container-flex-about-right{
  width: 85%;
}

@media (max-width: 1280px){
  .container-flex-about-right{
  width: 100%;
  }
}

#about-picture{
  max-width: 120%;
  margin-left: 35%;
  height: auto;
  width: auto;
  border-style: solid;
  border-width: 3.5px;
  border-color: black;
  border-radius: 50%;
}

@media (min-width: 1025px) and (max-width: 1280px){
  #about-picture{
  padding-left: 0;
  margin-bottom: 3%;
  max-width: 27%;
  margin-left: 0%;
  }
}

@media (min-width: 801px) and (max-width: 1024px){
  #about-picture{
  padding-left: 0;
  margin-bottom: 3%;
  max-width: 37%;
  margin-left: 0%;
  }
}

@media (max-width: 800px){
  #about-picture{
  padding-left: 0;
  margin-bottom: 4%;
  max-width: 45%;
  margin-left: 0%;
  }
}

.text-blurbs-about{
  @extend .text-blurbs;
  box-shadow: 15px 10px 20px black;
  background: #F8F8F8;
  margin: 0 auto;
  width: 70%;
  padding: 2%;
}

@media (min-width: 769px) and (max-width: 1024px){
  .text-blurbs-about{
    padding: 4%;
  }
}

@media (max-width: 768px){
  .text-blurbs-about{
    width: 90%;
  }
}

.text-blurbs-content-about{
  text-align: left;
  font-size: 18px;
}

@media (max-width: 768px){
  .text-blurbs-content-about{
    text-align: center;
  }
}

.container-services {
  font-size: 25px;
  padding: 15px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  box-shadow: 15px 10px 20px black;
  background: #F8F8F8;
  margin: 0 auto;
  width: 60%;
}

@media (min-width: 769px) and (max-width: 1024px){
  .container-services{
    width: 80%;
  }
}

@media (max-width: 768px){
  .container-services{
    width: 90%;
  }
}

.container-services > ul {
  text-align: left;
  display: inline-block;
  margin-left: 20%;
}

@media (max-width: 480px) {
  .container-services > ul {
    margin: 0 auto;
  }
}

.container-resources{
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  box-shadow: 15px 10px 20px black;
  background: #F8F8F8;
  margin: 0 auto;
  width: 50%;
  padding-right: 10%;
}

@media (min-width: 769px) and (max-width: 1024px){
  .container-resources{
    width: 70%;
  }
}

@media (max-width: 768px){
  .container-resources{
    width: 90%;
  }
}

.container-resources > ul{
  list-style-type: '👉';
  padding: 0;
  text-align: left;
  display: inline-block;
  margin-left: 40%;
  margin-right: 10%;
  text-indent: 0.5%;
}

@media (max-width: 480px) {
  .container-resources > ul {
    margin-left: 20%;
    margin-right: 5%;
    text-indent: 0.5%;
  }
}

.container-resources li {
  margin-bottom: 20px;
}

#container-contact{
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

#container-contact-info{
  font-size: 25px;
  background-color: white;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 20px;
  margin-bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 5px 0 10px black;
}

@media (min-width: 481px) and (max-width: 768px) {
  #container-contact-info{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 480px){
  #container-contact-info{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 17.5px;
  }
}

#container-contact-info > p > a {
  text-decoration: none;
}

#contact-info-title{
  font-weight: bold;
}

#container-submit{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#4C8099;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-left: 20%;
  margin-right: 20%;
}

@media (min-width: 481px) and (max-width: 768px) {
  #container-submit{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 480px){
  #container-submit{
    margin-left: 2%;
    margin-right: 2%;
  }
}

.container-recaptcha{
  text-align: center;
  display: inline-block;
}

#contact-submit-btn{
  background-color: #105577;
  color: white;
  border-color: black;
  border-radius: 5%;
  border-width: 3px;
}

#contact-message-textarea{
  width: 83%;
  word-wrap: break-word;
}

#contact-submit-btn:hover{
  color: blue;
}

#container-after-submit{
  color: black;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 25px;
  width: 85%;
  margin: 0 auto;
}

#contact-after-submit-error{
  top: 50%;
  left: 25%;
  right: 25%;
  width: 50%;
  text-align: center;
  overflow-wrap: break-word;
  position: absolute;
  font-size: 25px;
  color: red;
}

.container-notfound{
  padding-top: 15%;
}

.gradient-container-bottom{
  bottom: 40px;
  position: fixed;
  width: 100%;
  height: 10px;
  text-align: center;
  background: linear-gradient(to bottom, transparent 0%, rgb(126, 126, 126) 100%);
}

.footer-container{
  bottom: 0;
  padding-top: 7.5px;
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: white;
  border-top: 1px solid black;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer-container {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    font-size: 10px;
  }
}