@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body, html {
  text-align: center;
  background: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hidden {
  display: none;
}

.home-content-container {
  background-color: white;
  padding-bottom: 5%;
}

@media (max-width: 1200px) {
  .home-content-container {
    padding-bottom: 10%;
  }
}

@media (max-width: 600px) {
  .home-content-container {
    padding-bottom: 15%;
  }
}

.home-intro-container {
  padding: 20px 5px 10px 5px;
  font-family: "Montserrat";
}

.home-intro-container h1 {
  font-weight: bold;
  letter-spacing: 2px;
}

.home-intro-container P {
  font-size: 23px;
}

.homepage-image-container {
  width: 100%;
  overflow: hidden; /* Ensures no unexpected overflow */
}

.homepage-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 37.5%; /* Aspect ratio (height/width * 100%) = 300/800 * 100% */
  border-style: solid;
  border-width: 4px;
  border-color: black;
}

#homepage-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .homepage-image-wrapper {
    padding-top: 50%; /* Adjusted aspect ratio for smaller screens */
  }
}

#homepage-logo-img {
  max-width: 50%;
  height: auto;
  width: auto;
}

@media (min-width: 481px) and (max-width: 1024px) {
  #homepage-logo-img {
    max-width: 75%;
  }
}

@media (max-width: 480px) {
  #homepage-logo-img {
    max-width: 90%;
  }
}

@keyframes fadeInAndMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define a class that will trigger the animation */
.logo-image-animation {
  animation: fadeInAndMove 1s ease-out forwards;
}

.topic-header {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Montserrat";
}

.topic-header h1 {
  font-weight: bold;
  letter-spacing: 2px;
}

.section-container {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.text-blurbs {
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
}

@media (max-width: 864px) {
  .text-blurbs {
    width: 90%;
  }
}

.container-services {
  font-size: 25px;
  padding: 15px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  box-shadow: 10px 7.5px 5px black;
  background: #f8f8f8;
  margin: 0 auto;
  width: 60%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-services {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container-services {
    width: 90%;
  }
}

.container-services > ul {
  text-align: left;
  display: inline-block;
  margin-left: 20%;
}

@media (max-width: 480px) {
  .container-services > ul {
    margin: 0 auto;
  }
}

.container-resources {
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  box-shadow: 10px 7.5px 5px black;
  background: #f8f8f8;
  margin: 0 auto;
  width: 50%;
  padding-right: 10%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-resources {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .container-resources {
    width: 90%;
  }
}

.container-resources > ul {
  list-style-type: "👉";
  padding: 0;
  text-align: left;
  display: inline-block;
  margin-left: 40%;
  margin-right: 10%;
  text-indent: 0.5%;
}

@media (max-width: 480px) {
  .container-resources > ul {
    margin-left: 20%;
    margin-right: 5%;
    text-indent: 0.5%;
  }
}

.container-resources li {
  margin-bottom: 20px;
}

.container-notfound {
  padding-top: 15%;
}

